APP_ENV=production
PORT=6500


DB_HOST_DEV=
DB_PORT_DEV=
DB_USER_DEV=
DB_PASS_DEV=
DB_NAME_DEV=


DB_HOST_PROD=
DB_PORT_PROD=
DB_USER_PROD=
DB_PASS_PROD=
DB_NAME_PROD=

ELASTICSEARCH_URL=

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

REDIS_HOST=
REDIS_PORT=

ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=

DEFAULT_LANGUAGE=ar

TAP_DEV_SECRET_KEY=
TAP_PROD_SECRET_KEY=
TAP_CURRENCY=SAR
TAP_WEBHOOK_URL=
TAP_REDIRECT_URL=

TAQNYAT_BEARER_TOKEN=
TAQNYAT_SENDER=

# Mail Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=